{% macro show_comment(id, name, email, comment, time, submission, replies) -%}
<div class="media-heading">
  <button class="btn btn-default btn-collapse btn-xs" type="button" data-toggle="collapse" data-target="#collapse{{ id }}" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> {{ name }} <small>({{ email }}) {{ time }}</small> {% if submission %}<span class="label label-{% if submissions|length == submission %}success{% else %}default{% endif %}">v{{ submission }}</span>{% endif %} <a href="#"><span class="glyphicon glyphicon-trash" aria-label="Delete"></span></a>
</div>

<div class="panel-collapse collapse in" id="collapse{{ id }}">
  <div class="media-left">
  </div>
  <!-- media-left -->
  <div class="media-body">
    <p>{% if comment %}{% for line in comment.splitlines() %}{{ line }}<br \>{% endfor %}{% endif %}</p>
    <div class="comment-meta">
      <span>
        <a class="" role="button" data-toggle="collapse" href="#replyComment{{ id }}" aria-expanded="false" aria-controls="collapseExample">reply</a>
      </span>
      <div class="collapse well" id="replyComment{{ id }}">
        <form action="comment/" method="POST" name="comment_form_{{ id }}">
          <input type="hidden" name="parent_comment_id" value="{{ id }}"/>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon" for="name" id="basic-addon1">Name</span>
                  <input class="form-control" id="name" name="name" type="text" value="" required>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon" for="email" id="basic-addon1">Email</span>
                  <input class="form-control" id="email" name="email" type="text" value="" required>
                </div>
              </div>
            </div>
            <div class="col-lg-2 text-center">
              <input class="btn btn-primary" clatext-centerss="form-control" type="submit" value="Submit">
            </div>
          </div>
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-md-12">
                <textarea class="form-control" rows="3" id="comment" name="comment"  placeholder="Comment" required></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- comment-meta -->
    {% if replies %}
    <div class="media">
      <!-- answer to the first comment -->
      {% for _id, _name, _email, _comment, _time, _submission, _replies in replies %}
      <div class="well">
        {{ show_comment(_id, _name, _email, _comment, _time, _submission, _replies) }}
      </div>
      {% endfor %}
      <!-- comments -->
    </div>
    {% endif %}
  </div>
</div>
{%- endmacro %}

<div class="container">
  <div class="post-comments">
    <div class="row">
      {% for id, name, email, comment, time, submission, replies in comments %}
      <div class="media well">
        {{ show_comment(id, name, email, comment, time, submission, replies) }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>