<!doctype html>
<html>
  <head>
    {% block head %}
    <title>Talky - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='talky.css') }}" rel="stylesheet" media="screen">
    {% endblock %}
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/manage">Talky</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if user %}
            <ul class="nav navbar-nav">
              <button type="button" class="btn btn-default navbar-btn">New talk</button>
            </ul>
            <ul class="nav navbar-nav">
              <li><a href="#">{{ experiment }}</a></li>
              <li><a href="#about">Flagged</a></li>
              <li><a href="#contact">Others</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Log out {{ user }}</a></li>
            </ul>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
