<!DOCTYPE html>
<html>
  <head>
    <title>Talky</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/secure/admin/static/bootstrap/bootstrap3/swatch/default/bootstrap.min.css?v=3.3.5" rel="stylesheet">
        <link href="/secure/admin/static/bootstrap/bootstrap3/css/bootstrap-theme.min.css?v=3.3.5" rel="stylesheet">
        <link href="/secure/admin/static/admin/css/bootstrap3/admin.css?v=1.1.1" rel="stylesheet">
        <style>
        body {
            padding-top: 4px;
        }
        </style>

  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/secure/user">Talky</a>
        </div>
      </nav>

      <div class="page-header">
        <h2>{{ title }}</h2>
      </div>

      <form method=post enctype=multipart/form-data>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <p><input type=file name=file>
           <input type=submit value=Upload>
      </form>

    </div>

    <script src="/secure/admin/static/vendor/jquery.min.js?v=2.1.4" type="text/javascript"></script>
    <script src="/secure/admin/static/bootstrap/bootstrap3/js/bootstrap.min.js?v=3.3.5" type="text/javascript"></script>
    <script src="/secure/admin/static/vendor/moment.min.js?v=2.9.0" type="text/javascript"></script>
    <script src="/secure/admin/static/vendor/select2/select2.min.js?v=3.5.2" type="text/javascript"></script>
    <script src="/secure/admin/static/admin/js/details_filter.js?v=1.0.0"></script>
  </body>
</html>