{% extends "layout.html" %}
{% block title %}Management{% endblock %}
{% block content %}
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Talks from {{ experiment }}</h3>
    </div>
    <!-- Table -->
    <table class="table">
      <thead>
        <th>Date</th>
        <th>Title</th>
        <th>Speaker</th>
        <th>View</th>
        <th>Manage</th>
      </thead>

      <tbody>
        {% for talk in user_talks %}
          <tr>
            <td>{{ talk.talk_date }}</td>
            <td>{{ talk.title }}</td>
            <td><a href="mailto:{{ talk.speaker }}">{{ talk.speaker }}</a></td>
            <td><a href="/view/{{ talk.view_key }}">view</a></td>
            <td><a href="/submit/{{ talk.submit_key }}">submit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Talks flagged for {{ experiment }}</h3>
    </div>
    <!-- Table -->
    <table class="table">
      <thead>
        <th>Date</th>
        <th>Title</th>
        <th>Speaker</th>
        <th>View</th>
      </thead>

      <tbody>
        {% for talk in tagged_talks %}
          <tr>
            <td>{{ talk.talk_date }}</td>
            <td>{{ talk.title }}</td>
            <td><a href="mailto:{{ talk.speaker }}">{{ talk.speaker }}</a></td>
            <td><a href="/view/{{ talk.view_key }}">view</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Other talks</h3>
    </div>
    <!-- Table -->
    <table class="table">
      <thead>
        <th>Date</th>
        <th>Title</th>
        <th>Speaker</th>
        <th>View</th>
      </thead>

      <tbody>
        {% for talk in other_talks %}
          <tr>
            <td>{{ talk.talk_date }}</td>
            <td>{{ talk.title }}</td>
            <td><a href="mailto:{{ talk.speaker }}">{{ talk.speaker }}</a></td>
            <td><a href="/view/{{ talk.view_key }}">view</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
