{% macro show_comment(id, name, email, comment, time, submission, replies) -%}
<div class="media-heading">
  <button class="btn btn-default btn-collapse btn-xs" type="button" data-toggle="collapse" data-target="#collapse{{ id }}" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> {{ name }} <small>({{ email }}) {{ time }}</small> {% if submission %}<span class="label label-{% if submissions|length == submission %}success{% else %}default{% endif %}">v{{ submission }}</span>{% endif %} <a href="#"><span class="glyphicon glyphicon-trash" aria-label="Delete"></span></a>
</div>

<div class="panel-collapse collapse in" id="collapse{{ id }}">
  <div class="media-left">
  </div>
  <!-- media-left -->
  <div class="media-body">
    <p>{% for line in comment.splitlines() %}{{ line }}<br \>{% endfor %}</p>
    <div class="comment-meta">
      <span>
        <a class="" role="button" data-toggle="collapse" href="#replyComment{{ id }}" aria-expanded="false" aria-controls="collapseExample">reply</a>
      </span>
      <div class="collapse" id="replyComment{{ id }}">
        <form>
          <div class="form-group">
            <label for="comment">Your Comment</label>
            <textarea name="comment" class="form-control" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-default">Send</button>
        </form>
      </div>
    </div>
    <!-- comment-meta -->
    {% if replies %}
    <div class="media">
      <!-- answer to the first comment -->
      {% for _id, _name, _email, _comment, _time, _submission, _replies in replies %}
        {{ show_comment(_id, _name, _email, _comment, _time, _submission, _replies) }}
      {% endfor %}
      <!-- comments -->
    </div>
    {% endif %}
  </div>
</div>
{%- endmacro %}

<div class="container">
  <div class="post-comments">
    <div class="row">
      {% for id, name, email, comment, time, submission, replies in comments %}
      <div class="media">
        {{ show_comment(id, name, email, comment, time, submission, replies) }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>